<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umd.vinita.staar">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConversationModuleActivity"
            android:label="@string/title_activity_conversation_module"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModuleVoice"
            android:label="@string/title_activity_module_voice"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service
            android:name=".Service.ConversationModuleIntentService"
            android:exported="false"></service>
    </application>

</manifest>